.navbar{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.navbar button{
    border: none;
    background-color: transparent;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.93rem;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    /* letter-spacing: 1px; */
}
.navbar button:hover{
    background-color: var(--Primary);
    color: #fff;
}

/* .navbar button div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--Accent);
    border-radius: 30px;
    left: 0;
    color: #fff;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.2s ease-in-out;
} */

/* .navbar button:hover .navbar button div{
            display: block;
            transform: scaleY(1);    
} */
